NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=student-photos
OTP_API_BASE_URL=http://bulksmsbd.net/api/smsapi
OTP_API_KEY=
OTP_SENDER_ID=
OTP_BRAND_NAME=DJMC35
ADMIN_TOKEN=change-this-admin-secret
